<%- include('./partials/head') %>

<main>
    <section class="top-content yellow">
        <p>Section</p>
    </section>

    <% portfolioItems.forEach(item => { %>
        <section class="<%= item.BGColor %>">
            <p><%= item.title %></p>
        </section>
    <% }); %>
</main>

<%- include('./partials/foot') %>