@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
:root {
    --c-primairy: #DF5B57;
    --c-secondary: #ededed;
    --c-tertiary: #93AFBB;
    --c-fourthary: #fff;
    font-size: 16px;
}

body, html, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    font-size: 7rem;
    padding-top: 8rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.content-box p {
    margin-top: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: #101010;
}

li {
    font-weight: 500;
    font-size: 1.4rem;
    transition: .2s;
}

li:hover {
    padding-left: 1rem;
}

.top-content {
    background-color: #f5f5f5;
    padding: 0rem 10rem;
    position: relative;
}

.downarrow {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5rem;
}

.uparrow {
    font-size: 3rem;
    cursor: pointer;
}

.top-content p {
    font-size: 3rem;
    cursor: pointer;
}

.blue {
    background-color: #96d1e0;
}

.green {
    background-color: #8ee7a9;
}

.yellow {
    background-color: #f0f1a5;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
  
section {
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.inner-section {
    padding: 2rem;
}

.content-box {
    width: 60%;
    margin-left: 20%;
}

.content-box li:hover {
    padding-left: 0rem;
}

img {
    width: 100%;
    margin-top: 1rem;
    box-shadow: #323334 0px 0px 10px;
}

.bottom-content-box {
    width: 100%;
}

.info-box {
    float: left;
    width: 50%;
}

.live-link {
    float: left;
    width: 50%;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: right;
}